@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Elect.Web</title>
</head>
<body>
    Welcome to Elect.Web - About!
</body>
</html>