<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Formatting_CommentXmlSpaceSingleTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Formatting_CommentXmlKeepTagsTogether" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Formatting_CommentXmlSpaceTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Formatting_CommentWrapColumn" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Formatting_CommentXmlAlignParamTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Formatting_CommentXmlValueIndent" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ThirdParty_UseJetBrainsReSharperCleanup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Progressing_HideBuildProgressOnBuildStop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Progressing_ShowBuildProgressOnBuildStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Progressing_ShowProgressOnWindowsTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Formatting_CommentRunDuringCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_ShowStartPageOnSolutionClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_DiagnosticsMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Finding_ClearSolutionExplorerSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Finding_TemporarilyOpenSolutionFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_UpdateAccessorsToBothBeSingleLineOrMultiLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_PerformPartialCleanupOnExternal" serializeAs="String">
                <value>1</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>